:root{
    --bg-login: #000000;
    --titolo-login: #FFFFFF;
    --scritte-login: #EBEBEB;
}

.titolo-pagina {
    text-align: center;
    color: var(--titolo-login);
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.sez1 {
    margin-top: 3%;
    margin-bottom: 10px;
}

.logo {
    text-align: center;
    padding-bottom: 15px;
}

body {
    background-color: var(--bg-login);
}

.form-login {
    background-color: var(--titolo-login);
    color: var(--bg-login);
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border-style: solid;
    border-radius: 10px;

    margin-left: 40%;
    margin-right: 40%;
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#NomeUtente, #password {
    background-color: var(--scritte-login);
    padding: 4px 4px 4px 4px;
    width: 190px;
    margin: 4px 0 4px 0;
    border-radius: 15px;
    border: transparent;
}

.btn-login {
    margin-left: 55px;
    border: transparent;
    border-radius: 10px;
    margin-top: 20px;
    padding: 2px 2px 2px 2px;
}

#ricordami {
    margin-top: 20px;
}