:root {
    --bg-alto: #000000;
    --btn-sez: #131B2A;
    --bg-btn: #EBEBEB;
    --bg-logout: #CA161F;
}

img {
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

body {
    background-color: var(--bg-alto);
}

.sezAlta {
    background-color: var(--bg-alto);
    border-color: var(--bg-btn);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: 100%;
}

#utenti, #categorie, #frasi {
    background-color: var(--bg-btn);
    font-size: 170%;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 600;
    color: var(--btn-sez);
    padding: 10px 40px 10px 40px;
    margin: 20px 10% 20px 10%;
    width: 80%;
    height: 250px;
    border-radius: 30px;
}

.btn-logout {
    margin-left: 70%;
    margin-top: 45px;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 600;
    color: var(--btn-sez);
    width: 80px;
    height: 30px;
    background-color: var(--bg-logout);
}