:root {
    --bg-alto: #000000;
    --btn-sez: #131B2A;
    --bg-btn: #EBEBEB;
    --tb-txt: #FFFFFF;
}

body {
    background-color: var(--bg-alto);
}

img {
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

.sezTabella {
    background-color: var(--bg-alto);
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 300;
    color: var(--tb-txt);

    border-style: solid;
    border-color: var(--bg-btn);
    border-radius: 5px;
    border-width: 3px;
}

.sezAlta {
    background-color: var(--bg-alto);
    border-color: var(--bg-btn);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.table {
    margin-top: 5px;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 300;
    color: var(--tb-txt);
    border-top-style: solid;
    border-radius: 5px;
    border-top-color: var(--bg-btn);
    border-top-width: 3px;
}

.sezLogout {
    max-width: fit-content;
}

.titolo {
    padding: 5px 0 5px 0;
    text-align: center;
}

.contenuto-db {
    background-color: var(--bg-alto);
}

h2 {
    font-size: 170%;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: 600;
    color: var(--tb-txt);
}